@mixin loaderSize($size) {
    width: #{$size}px;
    height: #{$size}px;
}

.root {
    position: relative;
    border-radius: 100%;
    overflow: hidden;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.is-active {
    svg {
        animation: rotate360 1s infinite linear;
    }
}

.size {
    &_s {
        @include loaderSize(18);
    }

    &_m {
        @include loaderSize(32);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
