.field {
    & + & {
        margin-top: 12px;
    }
}

.button {
    margin-top: 18px;
}

.error {
    display: block;

    margin-top: 4px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-critical);
}