.root {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 6.5px 16px;
    border-radius: 16px;
    background-color: var(--background-secondary);
    box-sizing: border-box;
}

.avatar {
    position: relative;
    overflow: hidden;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-placeholder);

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--background-secondary);
    }
}

.wrapper {
    width: calc(100% - 48px);
}

.title {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color: var(--color-base);
}

.name {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-placeholder);
}

.compact {
    width: 100%;
    font-size: 14px;
    color: var(--color-gray-medium);
    transition: color 0.2s ease-in-out;
}

.active {
    color: var(--background-brand);
}