@use "@/shared/styles/mixins" as *;

.root {
    position: fixed;
    left: 0;
    z-index: 100;

    width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;

    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;

    background-color: var(--background-base);
}

.offset {
    &_s {
        top: 60px;

        height: calc(100vh - 60px);
    }

    &_m {
        top: 104px;

        height: calc(100vh - 104px);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 16px;
    padding-bottom: 16px;
}

.tooltip {
    width: 521px;
}

@include media-tablet() {
    .root {
        top: 180px;

        height: calc(100vh - 180px);
    }
}