.root {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: calc(100vh - 60px);

    overflow-x: hidden;
    overflow-y: auto;

    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;

    background-color: var(--background-base);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 16px;
    padding-bottom: 16px;
}