@use "@/shared/styles/mixins" as *;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    width: 100%;
}

.titleContent {

    @include media-tablet {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

.title {
    font-size: 22px;
    line-height: 28px;
    color: var(--color-base);
    font-weight: 600;

    padding-top: 8px;
    padding-bottom: 24px;
}

.blocked-contacts {
    background: none;
    outline: none;
    border: none;
    display: none;
    margin-top: -8px;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-hint);
    text-align: center;

    @include media-tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}