@use "@/shared/styles/mixins" as *;

.root {
    margin-top: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;

    padding-top: 8px;
    padding-bottom: 28px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;

    width: 100%;

    gap: 2px;

    button {
        width: 100%;
        height: 60px;
        text-align: left;
    }
}

.toggle-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;

    &+& {
        margin-top: 2px;
    }

    p {
        font-size: 15px;
        line-height: 22px;
        color: var(--color-base);
    }
}