.root {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--background-gray-light);
}

.item {
    height: 60px;

    & + & {
        border-top: 1px solid var(--background-secondary);
    }
}

.icon {
    transform: rotate(-90deg);
}