.root {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--color-base);

    margin-bottom: 16px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: var(--background-secondary);
    border-radius: 16px;

    & + & {
        margin-top: 8px;
    }

    i {
        transform: rotate(-90deg);
    }
}