.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;

    padding-left: 13px;
    padding-right: 13px;

    p {
        font-size: 17px;
        line-height: 22px;
        font-weight: 600;
        color: var(--color-base);
    }

    input {
        width: 70px;
        text-align: center;
        box-sizing: border-box;
    }
}