.root {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-bottom: 16px;

    border-bottom: 1px solid var(--background-secondary);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.badges {
    display: flex;
    align-items: center;
    gap: 4px;
}

.badge {
    height: 24px;

    padding: 2px 6px;
    border-radius: 4px;
    box-sizing: border-box;

    font-size: 13px;
    line-height: 20px;
    font-weight: 400;

    &_green {
        background-color: var(--background-green-dark);
        color: var(--color-brand);
    }

    &_gray {
        background-color: var(--background-gray-dark);
        color: var(--color-gray);
    }

    &_red {
        background-color: var(--background-red-dark);
        color: var(--color-red);
    }

    &_orange {
        background-color: var(--background-orange-dark);
        color: var(--color-orange);
    }

    &_skeleton {
        min-width: 100px;
        background-color: var(--background-secondary-light);
    }
}

.name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: var(--color-base);
}

.project-info {
    display: flex;
    align-items: center;
    gap: 7px;

    p {
        font-size: 11px;
        line-height: 11px;
        font-weight: 600;
        color: var(--color-brand);
    }

    span {
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--color-brand);
    }
}

