.field {
    & + & {
        margin-top: 12px;
    }
}

.rules {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
}

.button {
    margin-top: 18px;
}

.rule-item {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        width: calc(100% - 22px);
        font-size: 13px;
        line-height: 20px;
        text-align: left;

        color: var(--color-secondary);

        transition: 0.3s ease;
        transition-property: color;
    }

    &.is-active {
        p {
            color: var(--color-base);
        }
    }
}