.root {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding-bottom: 16px;
    border-bottom: 1px solid var(--background-secondary);
}

.title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-base);
}