.root {
    display: flex;
    flex-direction: column;
    gap: 16px;

    border-bottom: 1px solid var(--background-secondary);
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-base);
}

.description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-placeholder);
}