.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding: 11px 20px;
    box-sizing: border-box;
    border: 1px solid var(--background-secondary);
    border-radius: 16px;

    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-base);
}

.item {
    width: 100%;
    height: 40px;

    & + & {
        margin-top: 10px;
    }
}

.title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-base);

    margin-bottom: 10px;
}

.icon {
    transform: rotate(-90deg);
}