.root {
    cursor: pointer;

    position: relative;

    font-size: 20px;
    line-height: 24px;
    color: var(--color-placeholder);
}

.is-loading {
    .content {
        opacity: 0;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    display: flex;
    align-items: center;
    gap: 6px;

    opacity: 1;

    transition: 0.3s ease;
    transition-property: opacity;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filters-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 44px;

    & p {
        font-size: 17px;
        line-height: 22px;
        font-weight: 600;
        color: var(--color-placeholder);
    }
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background: none;
}

.reset-button {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-brand);

    background: none;
}

.close-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 12px;

    & p {
        font-size: 17px;
        line-height: 22px;
        font-weight: 700;
        color: var(--color-base);
    }
}

.button {
    margin-top: 20px;
}

.tooltip {
    width: 370px;
}