@use "@/shared/styles/mixins" as *;

.root {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: calc(100vh - 83px);

    padding-top: 125px;
    padding-bottom: 100px;
    box-sizing: border-box;

    overflow: hidden;

    @include media-tablet {
        padding-top: 237px;
        overflow-y: scroll;
        overflow-x: scroll;
    }

    @include custom-scrollbar();
}