@use "@/shared/styles/mixins" as *;

.root {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
    overflow: auto;
    height: 100%;

    @include media-tablet {
        overflow: auto;

    }

    @include custom-scrollbar(3px, 100px);
}

.with-border {
    border-bottom: 1px solid var(--background-secondary);

    @include media-tablet {
        border-bottom: 1px solid var(--background-input-desktop);
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: var(--color-base);
}

.description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-placeholder);
}

.divider {
    margin-left: 64px;
    width: calc(100% - 64px);
    height: 1px;
    background-color: var(--background-secondary);

    @include media-tablet {
        border-bottom: 1px solid var(--background-input-desktop);
    }
}