.root {
    position: fixed;

    left: 0;
    bottom: 0;
    z-index: 101;

    display: flex;
    flex-direction: column;

    width: 100%;

    border-radius: 24px 24px 0 0;
    box-sizing: border-box;
    outline: none;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;

    &.is-under-tab-bar {
        z-index: 99;
    }

    &.with-max-height {
        max-height: 95vh;
    }
}

.view {
    &_secondary {
        background: var(--background-secondary);
    }

    &_base {
        background: var(--background-base);
    }
}

.header {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);

    width: 45px;
    height: 4px;
    border-radius: 4px;

    background: var(--background-gray-light);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(22, 23, 24, 0.62);

    &.is-under-tab-bar {
        z-index: 99;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
    padding-bottom: 56px;
}

.container {
    overflow-y: auto;
}