.root {
    position: fixed;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;
}