.root {
    position: sticky;

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;

    padding: 16px;
    box-sizing: border-box;
    border: 1px solid var(--border-base-alpha);
    border-radius: 16px;
    background-color: var(--background-base-dark);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: var(--color-secondary);
    }

    button {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        background: none;

        p {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            color: var(--color-brand);

            opacity: 1;

            transition: 0.3s ease;
            transition-property: opacity;
        }

        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.is-loading {
            p {
                opacity: 0;
            }
        }
    }
}

.value {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-base);
}

.button {
    margin-top: 16px;
}