.root {
    display: flex;
    align-items: center;

    padding: 2px;
    border-radius: 8px;
    box-sizing: border-box;

    background-color: var(--background-secondary-alpha);
}

.item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    width: 87px;
    height: 24px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);

    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: var(--color-base);

    transition: 0.3s ease;
    transition-property: background-color;

    &.is-active {
        background-color: var(--background-secondary-light);
    }
}