.root {
    min-width: 110px;
}

.compact {
    padding: 6.5px 0px 6.5px 16px;
    justify-content: end;
    cursor: pointer;
}

.compactSkeleton {
    padding: 6.5px 0px 6.5px 16px;
    justify-content: end;
}