.icon {
    display: block;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.field {
    & + & {
        margin-top: 12px;
    }
}

.button {
    margin-top: 18px;
}