.root {
    width: fit-content;
    box-sizing: border-box;

    border: none;
    outline: none;
    border-radius: 6px;

    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-base);

    padding: 6px 11px;

    background-color: var(--background-secondary);
}