.root {
    position: sticky;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding-top: 20px;
}

.emoji {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
}

.title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: var(--color-base);
}

.description {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    color: var(--color-base-alpha);
}