.root {
    position: sticky;

    padding-bottom: 16px;

    border-bottom: 1px solid var(--background-secondary);
}

.title {
    font-size: 20px;
    line-height: 42px;
    font-weight: 700;
    color: var(--color-base);
}

.button {
    margin-bottom: 8px;
}

.cell {
    height: 60px;
}

.remove-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--background-critical);
}

.error {
    display: block;

    margin-top: 4px;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--color-critical);
}